.elementor-200
  .elementor-element.elementor-element-7e4883c
  > .elementor-container {
  min-height: 440px;
}
.elementor-200
  .elementor-element.elementor-element-b55c2e7.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-200
  .elementor-element.elementor-element-b55c2e7.elementor-column
  .elementor-column-wrap
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-200
  .elementor-element.elementor-element-531d404.elementor-widget-heading
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-200
  .elementor-element.elementor-element-531d404
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.elementor-200
  .elementor-element.elementor-element-531d404
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
}
.elementor-200 .elementor-element.elementor-element-806d915 {
  color: #ffffff;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  line-height: 1.66em;
}
.elementor-200
  .elementor-element.elementor-element-806d915
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: -8px -8px -8px -8px;
}
.elementor-200
  .elementor-element.elementor-element-7e4883c:not(.elementor-motion-effects-element-type-background),
.elementor-200
  .elementor-element.elementor-element-7e4883c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../img/contact_background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-200
  .elementor-element.elementor-element-7e4883c
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-200 .elementor-element.elementor-element-7e4883c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px 10px 0px;
}
.elementor-200
  .elementor-element.elementor-element-444de74
  .elementor-spacer-inner {
  height: 10px;
}
.elementor-200
  .elementor-element.elementor-element-7acde27
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-200
  .elementor-element.elementor-element-a0c81c2.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-200
  .elementor-element.elementor-element-a0c81c2
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: 1px;
}
.elementor-200
  .elementor-element.elementor-element-a0c81c2
  > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-200 .elementor-element.elementor-element-318cb1d .raven-field-group {
  padding-left: calc(7px / 2);
  padding-right: calc(7px / 2);
  margin-bottom: 20px;
}
.elementor-200 .elementor-element.elementor-element-318cb1d .raven-form {
  margin-left: calc(-7px / 2);
  margin-right: calc(-7px / 2);
}
.elementor-200 .elementor-element.elementor-element-318cb1d .raven-field-label {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  letter-spacing: 2px;
}
.elementor-200 .elementor-element.elementor-element-318cb1d .raven-field {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 5px 5px;
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-field-select-arrow {
  font-size: 20px;
  right: 13px;
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-field-type-checkbox
  .raven-field-subgroup
  .raven-field-label {
  padding-left: calc(19px + 8px);
  line-height: 1em;
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  letter-spacing: 0px;
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-field-type-checkbox
  .raven-field-subgroup
  .raven-field-label:before {
  width: 19px;
  height: 19px;
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-field-type-checkbox
  .raven-field-subgroup
  .raven-field-label:after {
  width: calc(19px - 8px);
  height: calc(19px - 8px);
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-field-type-checkbox
  .raven-field-option {
  margin: 6px 6px 6px 6px;
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-field-type-checkbox
  .raven-field-subgroup {
  padding: 0px 0px 0px 0px;
}
.elementor-200
  .elementor-element.elementor-element-318cb1d
  .raven-submit-button {
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  background-color: #168ece;
  background-image: none;
  font-weight: 700;
}
.elementor-200
  .elementor-element.elementor-element-cc3168d
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-200
  .elementor-element.elementor-element-5b3e9de
  .elementor-spacer-inner {
  height: 60px;
}
.elementor-200
  .elementor-element.elementor-element-5b3e9de
  > .elementor-widget-container {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: #e5e5e5;
}
.elementor-200
  .elementor-element.elementor-element-13e266b.elementor-view-stacked
  .elementor-icon {
  background-color: rgba(85, 85, 85, 0.9);
}
.elementor-200
  .elementor-element.elementor-element-13e266b.elementor-view-framed
  .elementor-icon,
.elementor-200
  .elementor-element.elementor-element-13e266b.elementor-view-default
  .elementor-icon {
  fill: rgba(85, 85, 85, 0.9);
  color: rgba(85, 85, 85, 0.9);
  border-color: rgba(85, 85, 85, 0.9);
}
.elementor-200
  .elementor-element.elementor-element-13e266b.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 9px;
}
.elementor-200
  .elementor-element.elementor-element-13e266b.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 9px;
}
.elementor-200
  .elementor-element.elementor-element-13e266b.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 9px;
}
.elementor-200 .elementor-element.elementor-element-13e266b .elementor-icon {
  font-size: 35px;
}
.elementor-200 .elementor-element.elementor-element-13e266b .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-200
  .elementor-element.elementor-element-13e266b
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-200
  .elementor-element.elementor-element-13e266b
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #000000;
  font-size: 25px;
}
.elementor-200
  .elementor-element.elementor-element-13e266b
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376.elementor-view-framed
  .elementor-icon,
.elementor-200
  .elementor-element.elementor-element-4fc7376.elementor-view-default
  .elementor-icon {
  fill: #555555;
  color: #555555;
  border-color: #555555;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 9px;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 9px;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 9px;
}
.elementor-200 .elementor-element.elementor-element-4fc7376 .elementor-icon {
  font-size: 35px;
}
.elementor-200 .elementor-element.elementor-element-4fc7376 .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-200
  .elementor-element.elementor-element-4fc7376
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #000000;
  font-family: "kopub", LotteMartDream;
  font-size: 25px;
}
.elementor-200
  .elementor-element.elementor-element-4fc7376
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #555555;
  font-size: 18px;
}
.elementor-200
  .elementor-element.elementor-element-d804917.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-200
  .elementor-element.elementor-element-d804917.elementor-view-framed
  .elementor-icon,
.elementor-200
  .elementor-element.elementor-element-d804917.elementor-view-default
  .elementor-icon {
  fill: #555555;
  color: #555555;
  border-color: #555555;
}
.elementor-200
  .elementor-element.elementor-element-d804917.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 9px;
}
.elementor-200
  .elementor-element.elementor-element-d804917.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 9px;
}
.elementor-200
  .elementor-element.elementor-element-d804917.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 9px;
}
.elementor-200 .elementor-element.elementor-element-d804917 .elementor-icon {
  font-size: 35px;
}
.elementor-200 .elementor-element.elementor-element-d804917 .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-200
  .elementor-element.elementor-element-d804917
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-200
  .elementor-element.elementor-element-d804917
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #000000;
  font-size: 25px;
}
.elementor-200
  .elementor-element.elementor-element-d804917
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
}
.elementor-200
  .elementor-element.elementor-element-c54d3f1
  .elementor-spacer-inner {
  height: 60px;
}
.elementor-200
  .elementor-element.elementor-element-c54d3f1
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 02px 0px;
  border-color: #e5e5e5;
}
@media (max-width: 1024px) {
  .elementor-200
    .elementor-element.elementor-element-b55c2e7
    > .elementor-element-populated {
    padding: 50px 50px 50px 50px;
  }
}
@media (max-width: 767px) {
  .elementor-200
    .elementor-element.elementor-element-806d915
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-200
    .elementor-element.elementor-element-13e266b
    .elementor-icon-box-icon {
    margin-bottom: 9px;
  }
  .elementor-200
    .elementor-element.elementor-element-4fc7376
    .elementor-icon-box-icon {
    margin-bottom: 9px;
  }
  .elementor-200
    .elementor-element.elementor-element-d804917
    .elementor-icon-box-icon {
    margin-bottom: 9px;
  }
}
@media (min-width: 1025px) {
  .elementor-200
    .elementor-element.elementor-element-7e4883c:not(.elementor-motion-effects-element-type-background),
  .elementor-200
    .elementor-element.elementor-element-7e4883c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
