.elementor-227
  .elementor-element.elementor-element-9e01819
  > .elementor-container {
  min-height: 460px;
}
.elementor-227
  .elementor-element.elementor-element-9e01819
  > .elementor-container:after {
  content: "";
  min-height: inherit;
}
.elementor-227
  .elementor-element.elementor-element-85ee769.elementor-widget-heading
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-227
  .elementor-element.elementor-element-85ee769
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.elementor-227
  .elementor-element.elementor-element-85ee769
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
}
.elementor-227 .elementor-element.elementor-element-5aaef179 {
  color: #ffffff;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  line-height: 1.66em;
}
.elementor-227
  .elementor-element.elementor-element-5aaef179
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: -8px -8px -8px -8px;
}
.elementor-227
  .elementor-element.elementor-element-9e01819:not(.elementor-motion-effects-element-type-background),
.elementor-227
  .elementor-element.elementor-element-9e01819
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d3d3d3;
  background-image: url("../img/effort_background.jpg");
  background-position: center left;
  background-size: cover;
}
.elementor-227
  .elementor-element.elementor-element-9e01819
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-227 .elementor-element.elementor-element-9e01819 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -25px;
  margin-bottom: -25px;
}
.elementor-227
  .elementor-element.elementor-element-74ff0691
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-227 .elementor-element.elementor-element-6eef54d9 {
  text-align: center;
}
.elementor-227
  .elementor-element.elementor-element-6eef54d9.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-227
  .elementor-element.elementor-element-6eef54d9
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2em;
}
.elementor-227
  .elementor-element.elementor-element-12eada7
  .elementor-text-editor {
  text-align: center;
}
.elementor-227 .elementor-element.elementor-element-12eada7 {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.elementor-227
  .elementor-element.elementor-element-12eada7
  > .elementor-widget-container {
  padding: 0% 15% 0% 15%;
}
.elementor-227
  .elementor-element.elementor-element-7b6ca669
  > .elementor-element-populated {
  padding: 25px 25px 25px 25px;
}
.elementor-227 .elementor-element.elementor-element-1514ba50 {
  text-align: center;
}
.elementor-227
  .elementor-element.elementor-element-1514ba50.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-227
  .elementor-element.elementor-element-1514ba50
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-227
  .elementor-element.elementor-element-4f379078
  .elementor-text-editor {
  text-align: center;
}
.elementor-227 .elementor-element.elementor-element-4f379078 {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.elementor-227
  .elementor-element.elementor-element-2d7207c
  > .elementor-element-populated {
  padding: 25px 25px 25px 25px;
}
.elementor-227 .elementor-element.elementor-element-19a45c22 {
  text-align: center;
}
.elementor-227
  .elementor-element.elementor-element-19a45c22.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-227
  .elementor-element.elementor-element-19a45c22
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-227
  .elementor-element.elementor-element-616e385f
  .elementor-text-editor {
  text-align: center;
}
.elementor-227 .elementor-element.elementor-element-616e385f {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.elementor-227
  .elementor-element.elementor-element-288ab0fb
  > .elementor-element-populated {
  padding: 25px 25px 25px 25px;
}
.elementor-227 .elementor-element.elementor-element-25b93879 {
  text-align: center;
}
.elementor-227
  .elementor-element.elementor-element-25b93879.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-227
  .elementor-element.elementor-element-25b93879
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-227
  .elementor-element.elementor-element-19efb217
  .elementor-text-editor {
  text-align: center;
}
.elementor-227 .elementor-element.elementor-element-19efb217 {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.elementor-227
  .elementor-element.elementor-element-da3ccb6
  > .elementor-element-populated {
  padding: 25px 25px 25px 25px;
}
.elementor-227 .elementor-element.elementor-element-6d0dd896 {
  text-align: center;
}
.elementor-227
  .elementor-element.elementor-element-6d0dd896.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-227
  .elementor-element.elementor-element-6d0dd896
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-227
  .elementor-element.elementor-element-c8976e6
  .elementor-text-editor {
  text-align: center;
}
.elementor-227 .elementor-element.elementor-element-c8976e6 {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
.elementor-227 .elementor-element.elementor-element-78ffab6c {
  padding: 15px 15px 15px 15px;
}
.elementor-227 .elementor-element.elementor-element-3db97796 {
  padding: 100px 0px 100px 0px;
}
.elementor-227 .elementor-element.elementor-element-5739730f {
  text-align: center;
}
.elementor-227
  .elementor-element.elementor-element-5739730f.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-227
  .elementor-element.elementor-element-5739730f
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2em;
}
.elementor-227
  .elementor-element.elementor-element-5739730f
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-227
  .elementor-element.elementor-element-4c41d2e8
  .elementor-spacer-inner {
  height: 30px;
}
.elementor-227
  .elementor-element.elementor-element-97aecf5
  .elementor-image
  img {
  width: 91%;
}
.elementor-227
  .elementor-element.elementor-element-26328c3
  .elementor-image
  img {
  width: 100%;
  max-width: 100%;
}
.elementor-227
  .elementor-element.elementor-element-f5c364f
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-227
  .elementor-element.elementor-element-f5c364f
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(0, 0, 0, 0.16);
}
@media (max-width: 1024px) {
  .elementor-227
    .elementor-element.elementor-element-12eada7
    > .elementor-widget-container {
    padding: 0px 25px 0px 25px;
  }
  .elementor-227
    .elementor-element.elementor-element-7b6ca669
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-227
    .elementor-element.elementor-element-2d7207c
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-227
    .elementor-element.elementor-element-288ab0fb
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-227
    .elementor-element.elementor-element-da3ccb6
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-227 .elementor-element.elementor-element-78ffab6c {
    padding: 15px 0px 0px 0px;
  }
  .elementor-227 .elementor-element.elementor-element-3db97796 {
    padding: 100px 25px 100px 25px;
  }
}
@media (min-width: 1025px) {
  .elementor-227
    .elementor-element.elementor-element-9e01819:not(.elementor-motion-effects-element-type-background),
  .elementor-227
    .elementor-element.elementor-element-9e01819
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 767px) {
  .elementor-227
    .elementor-element.elementor-element-5aaef179
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-227
    .elementor-element.elementor-element-6eef54d9
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-227
    .elementor-element.elementor-element-12eada7
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-227
    .elementor-element.elementor-element-7b6ca669
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-227
    .elementor-element.elementor-element-2d7207c
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-227
    .elementor-element.elementor-element-288ab0fb
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-227
    .elementor-element.elementor-element-da3ccb6
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-227 .elementor-element.elementor-element-78ffab6c {
    padding: 15px 0px 0px 0px;
  }
  .elementor-227 .elementor-element.elementor-element-3db97796 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-227
    .elementor-element.elementor-element-5739730f
    .elementor-heading-title {
    font-size: 35px;
  }
}
