/* 배민 주아체 */
@font-face {
  font-family: 'BMJUA';
  src: url('../gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.elementor-241
  .elementor-element.elementor-element-21b10268
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.elementor-241
  .elementor-element.elementor-element-14f199b
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-241
  .elementor-element.elementor-element-4e1a7b0
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-241
  .elementor-element.elementor-element-702bfa9
  .elementor-spacer-inner {
  height: 10px;
}
.elementor-241 .elementor-element.elementor-element-7aa6192 .raven-image {
  max-width: 100%;
  opacity: 1;
}
.elementor-241 .elementor-element.elementor-element-7aa6192 {
  text-align: right;
}
.elementor-241
  .elementor-element.elementor-element-7aa6192
  > .elementor-widget-container {
  margin: -65px -65px -65px -65px;
  padding: 1px 1px 1px 1px;
}
.elementor-241
  .elementor-element.elementor-element-42598aa
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-241
  .elementor-element.elementor-element-3b2c2f2.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-241
  .elementor-element.elementor-element-3b2c2f2.elementor-column
  .elementor-column-wrap
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-241
  .elementor-element.elementor-element-18c40b5.elementor-widget-heading
  .elementor-heading-title {
    /* footer_addr_title */
    color: #000000;
    font-family: 'BMJUA';
}
.elementor-241
  .elementor-element.elementor-element-18c40b5
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 4px;
}
.elementor-241
  .elementor-element.elementor-element-18c40b5
  > .elementor-widget-container {
  margin: 22px 0px 0px 0px;
}
.elementor-241 .elementor-element.elementor-element-4f2fa58 {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 15px;
}
.elementor-241
  .elementor-element.elementor-element-4f2fa58
  .elementor-text-editor {
  columns: 1;
  column-gap: 0px;
}
.elementor-241
  .elementor-element.elementor-element-c9455d8.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-241
  .elementor-element.elementor-element-c9455d8.elementor-column
  .elementor-column-wrap
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-241 .elementor-element.elementor-element-825cf2f iframe {
  height: 245px;
}
.elementor-241 .elementor-element.elementor-element-5628b7a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-241
  .elementor-element.elementor-element-5628b7a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-241
  .elementor-element.elementor-element-26debd62
  > .elementor-background-overlay {
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-241 .elementor-element.elementor-element-26debd62 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 15px 0px;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d.elementor-view-framed
  .elementor-icon,
.elementor-241
  .elementor-element.elementor-element-7be1417d.elementor-view-default
  .elementor-icon {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 10px;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 10px;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 10px;
}
.elementor-241 .elementor-element.elementor-element-7be1417d .elementor-icon {
  font-size: 15px;
}
.elementor-241 .elementor-element.elementor-element-7be1417d .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-241
  .elementor-element.elementor-element-7be1417d
  .elementor-icon-box-title {
  margin-bottom: 0px;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d
  .elementor-icon-box-content
  .elementor-icon-box-title {
  /* footer_copyright */
  color: #ffffff;
  font-size: 13px;
  line-height: 35px;
}
.elementor-241
  .elementor-element.elementor-element-7be1417d
  > .elementor-widget-container {
  margin: 00px 00px 00px 220px;
}
.elementor-241
  .elementor-element.elementor-element-514acaee:not(.elementor-motion-effects-element-type-background),
.elementor-241
  .elementor-element.elementor-element-514acaee
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #168ece;
}
.elementor-241 .elementor-element.elementor-element-514acaee {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-241
  .elementor-element.elementor-element-514acaee
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media (max-width: 1024px) {
  .elementor-241 .elementor-element.elementor-element-26debd62 {
    padding: 30px 20px 30px 20px;
  }
  .elementor-241 .elementor-element.elementor-element-514acaee {
    padding: 0px 0px 0px 30px;
  }
}
@media (max-width: 767px) {
  .elementor-241
    .elementor-element.elementor-element-21b10268
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-241 .elementor-element.elementor-element-4e1a7b0 {
    width: 100%;
  }
  .elementor-241 .elementor-element.elementor-element-3b2c2f2 {
    width: 100%;
  }
  .elementor-241 .elementor-element.elementor-element-18c40b5 {
    text-align: center;
  }
  .elementor-241 .elementor-element.elementor-element-c9455d8 {
    width: 100%;
  }
  .elementor-241 .elementor-element.elementor-element-26debd62 {
    padding: 30px 20px 30px 20px;
  }
  .elementor-241 .elementor-element.elementor-element-10e2b295 {
    width: 100%;
  }
  .elementor-241 .elementor-element.elementor-element-5b7fffca {
    width: 100%;
  }
  .elementor-241
    .elementor-element.elementor-element-7be1417d
    .elementor-icon-box-icon {
    margin-bottom: 0px;
  }
  .elementor-241
    .elementor-element.elementor-element-7be1417d.elementor-position-right
    .elementor-icon-box-icon {
    margin-left: 0px;
  }
  .elementor-241
    .elementor-element.elementor-element-7be1417d.elementor-position-left
    .elementor-icon-box-icon {
    margin-right: 0px;
  }
  .elementor-241
    .elementor-element.elementor-element-7be1417d.elementor-position-top
    .elementor-icon-box-icon {
    margin-bottom: 0px;
  }
  .elementor-241 .elementor-element.elementor-element-7be1417d .elementor-icon {
    font-size: 20px;
  }
  .elementor-241
    .elementor-element.elementor-element-7be1417d
    .elementor-icon-box-wrapper {
    text-align: left;
  }
  .elementor-241 .elementor-element.elementor-element-514acaee {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-241 .elementor-element.elementor-element-4e1a7b0 {
    width: 20%;
  }
  .elementor-241 .elementor-element.elementor-element-3b2c2f2 {
    width: 47%;
  }
  .elementor-241 .elementor-element.elementor-element-c9455d8 {
    width: 32.332%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-241 .elementor-element.elementor-element-10e2b295 {
    width: 30%;
  }
  .elementor-241 .elementor-element.elementor-element-5b7fffca {
    width: 30%;
  }
}
