.elementor-186
  .elementor-element.elementor-element-ad0873c
  > .elementor-container {
  min-height: 440px;
}
.elementor-186
  .elementor-element.elementor-element-599d6b7.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-186
  .elementor-element.elementor-element-599d6b7.elementor-column
  .elementor-column-wrap
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-186
  .elementor-element.elementor-element-e43ea43.elementor-widget-heading
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-186
  .elementor-element.elementor-element-e43ea43
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.elementor-186
  .elementor-element.elementor-element-e43ea43
  > .elementor-widget-container {
  margin: 45px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
}
.elementor-186 .elementor-element.elementor-element-7bc8031 {
  color: #ffffff;
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
.elementor-186
  .elementor-element.elementor-element-7bc8031
  .elementor-text-editor {
  columns: 1;
  column-gap: 0px;
}
.elementor-186
  .elementor-element.elementor-element-7bc8031
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-186
  .elementor-element.elementor-element-ad0873c:not(.elementor-motion-effects-element-type-background),
.elementor-186
  .elementor-element.elementor-element-ad0873c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../img/history_background.jpg");
  background-position: 0px -226px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-186
  .elementor-element.elementor-element-ad0873c
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-186 .elementor-element.elementor-element-ad0873c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0px 10px 0px;
}
.elementor-186
  .elementor-element.elementor-element-bbe914c
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-186
  .elementor-element.elementor-element-562764b
  .elementor-spacer-inner {
  height: 100px;
}
.elementor-186
  .elementor-element.elementor-element-5192e8d
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-186
  .elementor-element.elementor-element-5192e8d.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-186
  .elementor-element.elementor-element-5192e8d.elementor-view-framed
  .elementor-icon,
.elementor-186
  .elementor-element.elementor-element-5192e8d.elementor-view-default
  .elementor-icon {
  color: #000000;
  border-color: #000000;
}
.elementor-186
  .elementor-element.elementor-element-5192e8d.elementor-view-framed
  .elementor-icon,
.elementor-186
  .elementor-element.elementor-element-5192e8d.elementor-view-default
  .elementor-icon
  svg {
  fill: #000000;
}
.elementor-186 .elementor-element.elementor-element-5192e8d .elementor-icon {
  font-size: 40px;
}
.elementor-186 .elementor-element.elementor-element-5192e8d .elementor-icon i,
.elementor-186
  .elementor-element.elementor-element-5192e8d
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-186
  .elementor-element.elementor-element-5192e8d
  > .elementor-widget-container {
  margin: -4px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-85c3c54.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-186
  .elementor-element.elementor-element-85c3c54
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 40px;
  font-weight: 600;
}
.elementor-186
  .elementor-element.elementor-element-85c3c54
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-186 .elementor-element.elementor-element-f0573b7 {
  font-family: "kopub", LotteMartDream;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: 0px;
}
.elementor-186 .elementor-element.elementor-element-f0573b7 table{
  /* table */
  text-align: center;
  border-collapse: separate;
  border-spacing: 12px;
}
.elementor-186 .elementor-element.elementor-element-f0573b7 table td:nth-child(2){
  text-align: right;
}
.elementor-186 .elementor-element.elementor-element-f0573b7 table td:last-child{
  text-align: left;
}
.elementor-186
  .elementor-element.elementor-element-1cfd50e
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-186
  .elementor-element.elementor-element-6ad41b4
  .elementor-spacer-inner {
  height: 60px;
}
.elementor-186
  .elementor-element.elementor-element-6ad41b4
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 02px 0px;
  border-color: #e5e5e5;
}
@media (min-width: 1025px) {
  .elementor-186
    .elementor-element.elementor-element-ad0873c:not(.elementor-motion-effects-element-type-background),
  .elementor-186
    .elementor-element.elementor-element-ad0873c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 1024px) {
  .elementor-186
    .elementor-element.elementor-element-599d6b7
    > .elementor-element-populated {
    padding: 0px 0px 0px 50px;
  }
  .elementor-186
    .elementor-element.elementor-element-562764b
    .elementor-spacer-inner {
    height: 20px;
  }
  .elementor-186
    .elementor-element.elementor-element-6ad41b4
    .elementor-spacer-inner {
    height: 20px;
  }
}
@media (max-width: 767px) {
  .elementor-186
    .elementor-element.elementor-element-599d6b7
    > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }
  .elementor-186 .elementor-element.elementor-element-e43ea43 {
    text-align: center;
  }
  .elementor-186
    .elementor-element.elementor-element-7bc8031
    .elementor-text-editor {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .elementor-186 .elementor-element.elementor-element-ffa8e7e {
    width: 5.833%;
  }
  .elementor-186 .elementor-element.elementor-element-3494c33 {
    width: 53.5%;
  }
  .elementor-186 .elementor-element.elementor-element-f809d1d {
    width: 40.663%;
  }
}
