.elementor-6
  .elementor-element.elementor-element-f6f4913
  > .elementor-container {
  max-width: 1044px;
  min-height: 400px;
}
.elementor-6
  .elementor-element.elementor-element-f6f4913
  > .elementor-container:after {
  content: "";
  min-height: inherit;
}
.elementor-6
  .elementor-element.elementor-element-14b7148.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-6
  .elementor-element.elementor-element-14b7148.elementor-column
  .elementor-column-wrap
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-6
  .elementor-element.elementor-element-14b7148.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-6
  .elementor-element.elementor-element-14b7148
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-6
  .elementor-element.elementor-element-14b7148
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-df7d587 .raven-heading-title,
.elementor-6
  .elementor-element.elementor-element-df7d587
  .raven-heading-title-inner {
  color: #0086ce;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: radial-gradient(at center center, #0086ce 0%, #4054b2 100%);
}
.elementor-6 .elementor-element.elementor-element-df7d587 .raven-heading-title {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.elementor-6 .elementor-element.elementor-element-df7d587 .raven-heading {
  font-family: "kopub", LotteMartDream;
  font-size: 45px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 2px;
}
.elementor-6
  .elementor-element.elementor-element-df7d587
  > .elementor-widget-container {
  padding: 43px 0px 20px 0px;
}
.elementor-6 .elementor-element.elementor-element-255258a .raven-heading-title,
.elementor-6
  .elementor-element.elementor-element-255258a
  .raven-heading-title-inner {
  color: rgba(0, 0, 0, 0.8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.69) 100%
  );
}
.elementor-6 .elementor-element.elementor-element-255258a .raven-heading-title {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.elementor-6 .elementor-element.elementor-element-255258a .raven-heading {
  font-family: "kopub", LotteMartDream;
  font-size: 40px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 2px;
}
.elementor-6
  .elementor-element.elementor-element-255258a
  .raven-heading-title-inner::after {
  text-shadow: 2px 2px 2px #ffffff;
}
.elementor-6
  .elementor-element.elementor-element-255258a
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-4ff3ede .raven-heading-title,
.elementor-6
  .elementor-element.elementor-element-4ff3ede
  .raven-heading-title-inner {
  color: rgba(0, 0, 0, 0.8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.69) 100%
  );
}
.elementor-6 .elementor-element.elementor-element-4ff3ede .raven-heading-title {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.elementor-6 .elementor-element.elementor-element-4ff3ede .raven-heading {
  font-family: "kopub", LotteMartDream;
  font-size: 40px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 2px;
}
.elementor-6
  .elementor-element.elementor-element-4ff3ede
  .raven-heading-title-inner::after {
  text-shadow: 2px 2px 2px #ffffff;
}
.elementor-6
  .elementor-element.elementor-element-4ff3ede
  > .elementor-widget-container {
  margin: -32px -32px -32px -32px;
  padding: 0px 0px 37px 0px;
}
.elementor-6 .elementor-element.elementor-element-ea767d8 a.raven-button,
.elementor-6 .elementor-element.elementor-element-ea767d8 .raven-button {
  padding: 20px 30px 20px 30px;
  background-color: rgba(0, 158, 226, 0.69);
  background-image: linear-gradient(
    90deg,
    rgba(0, 158, 226, 0.69) 0%,
    rgba(81, 183, 226, 0.65) 100%
  );
  border-radius: 50px 50px 50px 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-ea767d8 a.raven-button:hover,
.elementor-6 .elementor-element.elementor-element-ea767d8 .raven-button:hover {
  background-color: rgba(0, 158, 226, 0.46);
  background-image: linear-gradient(
    90deg,
    rgba(0, 158, 226, 0.46) 0%,
    #009ee2 100%
  );
}
.elementor-6
  .elementor-element.elementor-element-ea767d8
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-ddb2ed4 a.raven-button,
.elementor-6 .elementor-element.elementor-element-ddb2ed4 .raven-button {
  padding: 18px 28px 18px 28px;
  background-color: rgba(79, 182, 226, 0.64);
  background-image: linear-gradient(
    90deg,
    rgba(79, 182, 226, 0.64) 0%,
    #009ee2 100%
  );
  border-color: #6ec1e4;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 50px 50px 50px 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-ddb2ed4 a.raven-button:hover,
.elementor-6 .elementor-element.elementor-element-ddb2ed4 .raven-button:hover {
  background-color: #009ee2;
  background-image: linear-gradient(90deg, #009ee2 0%, #6ec1e4 100%);
}
.elementor-6
  .elementor-element.elementor-element-ddb2ed4
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-f6f4913:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-f6f4913
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../img/index_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-6 .elementor-element.elementor-element-f6f4913 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 350px 0px;
}
.elementor-6
  .elementor-element.elementor-element-f6f4913
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-c6c80aa
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-6 .elementor-element.elementor-element-7c68f56 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-7c68f56.elementor-widget-heading
  .elementor-heading-title {
  color: rgba(0, 0, 0, 0.91);
}
.elementor-6
  .elementor-element.elementor-element-7c68f56
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 41px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1px;
  letter-spacing: 10px;
}
.elementor-6
  .elementor-element.elementor-element-7c68f56
  > .elementor-widget-container {
  margin: 0px 0px 18px 0px;
  padding: 45px 0px 20px 0px;
}
.elementor-6 .elementor-element.elementor-element-a62c90c .slick-track {
  display: flex;
  align-items: center;
}
.elementor-6 .elementor-element.elementor-element-a62c90c .slick-list {
  margin-left: -60px;
}
.elementor-6
  .elementor-element.elementor-element-a62c90c
  .slick-slide
  .slick-slide-inner {
  padding-left: 60px;
}
.elementor-6
  .elementor-element.elementor-element-a62c90c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-d6603ef .slick-track {
  display: flex;
  align-items: center;
}
.elementor-6 .elementor-element.elementor-element-d6603ef .slick-list {
  margin-left: -60px;
}
.elementor-6
  .elementor-element.elementor-element-d6603ef
  .slick-slide
  .slick-slide-inner {
  padding-left: 60px;
}
.elementor-6
  .elementor-element.elementor-element-d6603ef
  > .elementor-widget-container {
  margin: 0px 0px 50px 0px;
  padding: 25px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-c406134:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-c406134
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-c406134 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0px 10px 0px;
}
.elementor-6
  .elementor-element.elementor-element-c406134
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-3eb0880
  > .elementor-container {
  min-height: 400px;
}
.elementor-6
  .elementor-element.elementor-element-3eb0880
  > .elementor-container:after {
  content: "";
  min-height: inherit;
}
.elementor-6
  .elementor-element.elementor-element-712c642
  > .elementor-element-populated {

  margin: 0px 0px 0px 0px;
  /* padding: 70px 80px 0px 80px; */
}
.elementor-6
  .elementor-element.elementor-element-38a7d50
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6 .elementor-element.elementor-element-532cd34 {
  text-align: right;
}
.elementor-6
  .elementor-element.elementor-element-f5f39f3
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6
  .elementor-element.elementor-element-3cb2fb3.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-3cb2fb3
  .elementor-heading-title {
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 10px;
}
.elementor-6
  .elementor-element.elementor-element-3cb2fb3
  > .elementor-widget-container {
    margin : 0 auto;
    width: 450px;
  padding: 25px 25px 25px 25px;
}
.elementor-6 .elementor-element.elementor-element-cfcdcf0 {
  margin-top: 30px;
  margin-left: -50px;
  margin-bottom: 30px;
  padding: 0px 0px 10px 0px;
  /* background-color: red; */
}
.elementor-6
  .elementor-element.elementor-element-84fb3e9
  > .elementor-container {
  max-width: 1600px;
}
.elementor-6
  .elementor-element.elementor-element-c62818e
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6
  .elementor-element.elementor-element-28c1105
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-28c1105.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-28c1105.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-28c1105.elementor-view-default
  .elementor-icon {
  color: #555555;
  border-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-28c1105.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-28c1105.elementor-view-default
  .elementor-icon
  svg {
  fill: #555555;
}
.elementor-6 .elementor-element.elementor-element-28c1105 .elementor-icon {
  font-size: 60px;
}
.elementor-6 .elementor-element.elementor-element-28c1105 .elementor-icon i,
.elementor-6 .elementor-element.elementor-element-28c1105 .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-6
  .elementor-element.elementor-element-28c1105
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6
  .elementor-element.elementor-element-61d4c11
  .elementor-text-editor {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-61d4c11 {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}
.elementor-6
  .elementor-element.elementor-element-61d4c11
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6 .elementor-element.elementor-element-84fb3e9 {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px 0px 10px 0px;
}
.elementor-6
  .elementor-element.elementor-element-3499d54:not(.elementor-motion-effects-element-type-background)
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-3499d54
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(255, 255, 255, 0.54);
}
.elementor-6
  .elementor-element.elementor-element-3499d54
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-3499d54
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-a76f8ab
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6 .elementor-element.elementor-element-65bd9a8 {
  text-align: right;
}
.elementor-6
  .elementor-element.elementor-element-5a85bb7
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6
  .elementor-element.elementor-element-7daf0ef.elementor-widget-heading
  .elementor-heading-title {
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-7daf0ef
  .elementor-heading-title {
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 10px;
}
.elementor-6
  .elementor-element.elementor-element-7daf0ef
  > .elementor-widget-container {
  padding: 25px 25px 25px 25px;
}
.elementor-6 .elementor-element.elementor-element-77ad76f {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 0px 10px 0px;
}
.elementor-6
  .elementor-element.elementor-element-0c7fd04
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6
  .elementor-element.elementor-element-ef8306c
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-ef8306c.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-ef8306c.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-ef8306c.elementor-view-default
  .elementor-icon {
  color: #555555;
  border-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-ef8306c.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-ef8306c.elementor-view-default
  .elementor-icon
  svg {
  fill: #555555;
}
.elementor-6 .elementor-element.elementor-element-ef8306c .elementor-icon {
  font-size: 60px;
}
.elementor-6 .elementor-element.elementor-element-ef8306c .elementor-icon i,
.elementor-6 .elementor-element.elementor-element-ef8306c .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-6
  .elementor-element.elementor-element-ef8306c
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6
  .elementor-element.elementor-element-2d861f9
  .elementor-text-editor {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-2d861f9 {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}
.elementor-6
  .elementor-element.elementor-element-2d861f9
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6
  .elementor-element.elementor-element-788de63:not(.elementor-motion-effects-element-type-background)
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-788de63
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0);
}
.elementor-6
  .elementor-element.elementor-element-788de63
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 2% 2% 2% 2%;
}
.elementor-6
  .elementor-element.elementor-element-788de63
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-611b29b
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-611b29b.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-611b29b.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-611b29b.elementor-view-default
  .elementor-icon {
  color: #555555;
  border-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-611b29b.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-611b29b.elementor-view-default
  .elementor-icon
  svg {
  fill: #555555;
}
.elementor-6 .elementor-element.elementor-element-611b29b .elementor-icon {
  font-size: 60px;
}
.elementor-6 .elementor-element.elementor-element-611b29b .elementor-icon i,
.elementor-6 .elementor-element.elementor-element-611b29b .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-6
  .elementor-element.elementor-element-611b29b
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6
  .elementor-element.elementor-element-7b99b4c
  .elementor-text-editor {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-7b99b4c {
  color: #555555;
  font-family: "kopub", LotteMartDream;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}
.elementor-6
  .elementor-element.elementor-element-7b99b4c
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6
  .elementor-element.elementor-element-7bf9864
  > .elementor-element-populated {
  padding: 2% 2% 2% 2%;
}
.elementor-6
  .elementor-element.elementor-element-411e9e9
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-411e9e9.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-411e9e9.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-411e9e9.elementor-view-default
  .elementor-icon {
  color: #555555;
  border-color: #555555;
}
.elementor-6
  .elementor-element.elementor-element-411e9e9.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-411e9e9.elementor-view-default
  .elementor-icon
  svg {
  fill: #555555;
}
.elementor-6 .elementor-element.elementor-element-411e9e9 .elementor-icon {
  font-size: 60px;
}
.elementor-6 .elementor-element.elementor-element-411e9e9 .elementor-icon i,
.elementor-6 .elementor-element.elementor-element-411e9e9 .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-6
  .elementor-element.elementor-element-411e9e9
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6
  .elementor-element.elementor-element-0ffcf86
  .elementor-text-editor {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-0ffcf86 {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
}
.elementor-6
  .elementor-element.elementor-element-0ffcf86
  > .elementor-widget-container {
  margin: 30px 30px 30px 30px;
}
.elementor-6 .elementor-element.elementor-element-8314b59 {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0px 0px 10px 0px;
}
.elementor-6
  .elementor-element.elementor-element-e9509cd:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-e9509cd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.11);
}
.elementor-6 .elementor-element.elementor-element-e9509cd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-e9509cd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-a180c78
  .elementor-spacer-inner {
  height: 120px;
}
.elementor-6
  .elementor-element.elementor-element-a472b11
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-f61f56f {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-f61f56f.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-f61f56f
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 41px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 47px;
  letter-spacing: 0.1px;
}
.elementor-6
  .elementor-element.elementor-element-f61f56f
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-6 .elementor-element.elementor-element-14e326a {
  color: #555555;
  font-size: 19px;
}
.elementor-6
  .elementor-element.elementor-element-ae7a8e0
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6
  .elementor-element.elementor-element-5efdb91
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-fcec103 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-e68f634
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-139f1c4.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-139f1c4
  .elementor-heading-title {
  /* 취약계층 케어, 찾아가는 세탁소 */
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-139f1c4
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-0bc0099 {
  /*서울시 및 자치구와 협업하여 찾아가는 침구류 세탁 서비스를 제공합니다. */
  margin-top: -10px;
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-0bc0099
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-12e94dc {
  padding: 0px 25px 0px 25px;
}
.elementor-6
  .elementor-element.elementor-element-3876e3b
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-010e663 .elementor-image img {
  width: 100%;
  max-width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-a2cab20
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-468069a.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-468069a
  .elementor-heading-title {
    /*도시재생과 만난 커뮤니티, 우리동네빨래방  */
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-468069a
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-d29d0f6 {
  /* 포용적 도시재생 사업모델, 곧 오픈합니다. */
  margin-top: -10px;
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-d29d0f6
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-a88d5d4 {
  padding: 0px 25px 0px 25px;
}
.elementor-6 .elementor-element.elementor-element-0fc49b4 {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-9316b73 a.raven-button,
.elementor-6 .elementor-element.elementor-element-9316b73 .raven-button {
  padding: 14px 24px 14px 24px;
  background-color: #6ec1e4;
  background-image: none;
  border-radius: 50px 50px 50px 50px;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-9316b73 a.raven-button:hover,
.elementor-6 .elementor-element.elementor-element-9316b73 .raven-button:hover {
  background-color: rgba(64, 84, 178, 0.72);
  background-image: none;
}
.elementor-6
  .elementor-element.elementor-element-9316b73
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-ac2b954
  .elementor-spacer-inner {
  height: 120px;
}
.elementor-6
  .elementor-element.elementor-element-ca262e2
  .elementor-spacer-inner {
  height: 120px;
}
.elementor-6
  .elementor-element.elementor-element-bdb43fa:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-bdb43fa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-bdb43fa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-bdb43fa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-5a0e4ff
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-d9d4395 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-d9d4395.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-d9d4395
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 41px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 47px;
  letter-spacing: 0.1px;
}
.elementor-6
  .elementor-element.elementor-element-d9d4395
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-6 .elementor-element.elementor-element-ea1986d {
  color: #555555;
  font-size: 19px;
}
.elementor-6
  .elementor-element.elementor-element-1ea1872
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6
  .elementor-element.elementor-element-26b4f09
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-efc8457 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-e1c29e5
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-df32dda.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-df32dda
  .elementor-heading-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-df32dda
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-6051a6b {
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-6051a6b
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-7250045 {
  padding: 0px 25px 0px 25px;
}
.elementor-6
  .elementor-element.elementor-element-a3e5ce8
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-0f2b605 .elementor-image img {
  width: 100%;
  max-width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-22b81d1
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-dd4355e.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-dd4355e
  .elementor-heading-title {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-dd4355e
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-2ee9cba {
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-2ee9cba
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-85a6067 {
  padding: 0px 25px 0px 25px;
}
.elementor-6
  .elementor-element.elementor-element-e1eb30e:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-e1eb30e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-e1eb30e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 15px 0px 15px;
}
.elementor-6
  .elementor-element.elementor-element-e1eb30e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-2b75623 a.raven-button,
.elementor-6 .elementor-element.elementor-element-2b75623 .raven-button {
  padding: 14px 24px 14px 24px;
  background-color: #6ec1e4;
  background-image: none;
  border-radius: 50px 50px 50px 50px;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-2b75623 a.raven-button:hover,
.elementor-6 .elementor-element.elementor-element-2b75623 .raven-button:hover {
  background-color: rgba(64, 84, 178, 0.72);
  background-image: none;
}
.elementor-6
  .elementor-element.elementor-element-2b75623
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-964d2a6
  .elementor-spacer-inner {
  height: 120px;
}
.elementor-6
  .elementor-element.elementor-element-99eda88:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-99eda88
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-99eda88 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-99eda88
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-7d03662 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-7d03662.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-7d03662
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 41px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 47px;
  letter-spacing: 0.1px;
}
.elementor-6
  .elementor-element.elementor-element-7d03662
  > .elementor-widget-container {
  margin: 40px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-6
  .elementor-element.elementor-element-3978764:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-3978764
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(255, 255, 255, 0.06);
}
.elementor-6 .elementor-element.elementor-element-3978764 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-3978764
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-25ec401 {
  /* 차트 위치 */
  margin: 0 auto;
  text-align: center;
  width: 80%;

}
.elementor-6 .elementor-element.elementor-element-25ec401 #myChart{
  max-width: 844px;
  max-height: 451px;
}
.elementor-6
  .elementor-element.elementor-element-1c2d806:not(.elementor-motion-effects-element-type-background)
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-1c2d806
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0);
}
.elementor-6
  .elementor-element.elementor-element-1c2d806
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-1c2d806
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-5a701ff
  .elementor-spacer-inner {
  height: 100px;
}
.elementor-6
  .elementor-element.elementor-element-ec7ea67:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-ec7ea67
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-ec7ea67 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-ec7ea67
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-8693799
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-c10bd88 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-c10bd88.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-c10bd88
  .elementor-heading-title {
  font-family: "kopub", LotteMartDream;
  font-size: 41px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 47px;
  letter-spacing: 0.1px;
}
.elementor-6
  .elementor-element.elementor-element-c10bd88
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}
.elementor-6 .elementor-element.elementor-element-06174c8 {
  color: #555555;
  font-size: 19px;
}
.elementor-6
  .elementor-element.elementor-element-2cf40e1
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6
  .elementor-element.elementor-element-b4d006b
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-fd562d1 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-54c0323
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-0d45ad4.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-0d45ad4
  .elementor-heading-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-0d45ad4
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-eb3cf16 {
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-eb3cf16
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-c6c6719 {
  padding: 0px 25px 0px 25px;
}
.elementor-6
  .elementor-element.elementor-element-68a3530
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-6 .elementor-element.elementor-element-4ca1d64 .elementor-image img {
  width: 100%;
  max-width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-3fb89c3
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-1b977ad.elementor-widget-heading
  .elementor-heading-title {
  color: #2c2c2c;
}
.elementor-6
  .elementor-element.elementor-element-1b977ad
  .elementor-heading-title {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-1b977ad
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-3919643 {
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 1px;
}
.elementor-6
  .elementor-element.elementor-element-3919643
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-06e35fc {
  padding: 0px 25px 0px 25px;
}
.elementor-6
  .elementor-element.elementor-element-00d5073:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-00d5073
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-00d5073 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 15px 0px 15px;
}
.elementor-6
  .elementor-element.elementor-element-00d5073
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-7e46b5e a.raven-button,
.elementor-6 .elementor-element.elementor-element-7e46b5e .raven-button {
  padding: 14px 24px 14px 24px;
  background-color: #6ec1e4;
  background-image: none;
  border-radius: 50px 50px 50px 50px;
  font-family: "kopub", LotteMartDream;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-7e46b5e a.raven-button:hover,
.elementor-6 .elementor-element.elementor-element-7e46b5e .raven-button:hover {
  background-color: rgba(64, 84, 178, 0.72);
  background-image: none;
}
.elementor-6
  .elementor-element.elementor-element-7e46b5e
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-88fef43
  .elementor-spacer-inner {
  height: 100px;
}
.elementor-6
  .elementor-element.elementor-element-646aafd:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-646aafd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(110, 193, 228, 0.06);
}
.elementor-6 .elementor-element.elementor-element-646aafd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-646aafd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media (min-width: 768px) {
  .elementor-6 .elementor-element.elementor-element-38a7d50 {
    width: 29.986%;
  }
  .elementor-6 .elementor-element.elementor-element-f5f39f3 {
    width: 70%;
  }
  .elementor-6 .elementor-element.elementor-element-a76f8ab {
    width: 39.986%;
  }
  .elementor-6 .elementor-element.elementor-element-5a85bb7 {
    width: 60%;
  }
  .elementor-6 .elementor-element.elementor-element-5efdb91 {
    width: 25%;
  }
  .elementor-6 .elementor-element.elementor-element-e68f634 {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-3876e3b {
    width: 25%;
  }
  .elementor-6 .elementor-element.elementor-element-a2cab20 {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-26b4f09 {
    width: 25%;
  }
  .elementor-6 .elementor-element.elementor-element-e1c29e5 {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-a3e5ce8 {
    width: 25%;
  }
  .elementor-6 .elementor-element.elementor-element-22b81d1 {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-b4d006b {
    width: 25%;
  }
  .elementor-6 .elementor-element.elementor-element-54c0323 {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-68a3530 {
    width: 25%;
  }
  .elementor-6 .elementor-element.elementor-element-3fb89c3 {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .elementor-6
    .elementor-element.elementor-element-3eb0880
    > .elementor-container {
    min-height: 560px;
  }
  .elementor-6
    .elementor-element.elementor-element-3eb0880
    > .elementor-container:after {
    content: "";
    min-height: inherit;
  }
  .elementor-6
    .elementor-element.elementor-element-712c642
    > .elementor-element-populated {
    padding: 2% 2% 2% 2%;
  }
  .elementor-6
    .elementor-element.elementor-element-ac2b954
    .elementor-spacer-inner {
    height: 40px;
  }
  .elementor-6
    .elementor-element.elementor-element-ca262e2
    .elementor-spacer-inner {
    height: 40px;
  }
  .elementor-6
    .elementor-element.elementor-element-964d2a6
    .elementor-spacer-inner {
    height: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-6 .elementor-element.elementor-element-14b7148 {
    width: 83%;
  }
}
@media (max-width: 767px) {
  .elementor-6
    .elementor-element.elementor-element-f6f4913
    > .elementor-container {
    min-height: 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-f6f4913
    > .elementor-container:after {
    content: "";
    min-height: inherit;
  }
  .elementor-6 .elementor-element.elementor-element-df7d587 .raven-heading {
    font-size: 23px;
  }
  .elementor-6
    .elementor-element.elementor-element-df7d587
    > .elementor-widget-container {
    margin: -173px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-255258a .raven-heading {
    font-size: 25px;
  }
  .elementor-6
    .elementor-element.elementor-element-255258a
    > .elementor-widget-container {
    margin: -37px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-4ff3ede .raven-heading {
    font-size: 25px;
  }
  .elementor-6
    .elementor-element.elementor-element-f6f4913:not(.elementor-motion-effects-element-type-background),
  .elementor-6
    .elementor-element.elementor-element-f6f4913
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: cover;
  }
  .elementor-6
    .elementor-element.elementor-element-7c68f56
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-532cd34 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-3cb2fb3 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-3cb2fb3
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-3cb2fb3
    > .elementor-widget-container {
      width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-61d4c11
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-61d4c11 {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-61d4c11
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-65bd9a8 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-7daf0ef {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-7daf0ef
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-2d861f9
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-2d861f9 {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-7b99b4c
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-7b99b4c {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-0ffcf86
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-0ffcf86 {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-f61f56f {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-f61f56f
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-14e326a {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-fcec103 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-139f1c4 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-139f1c4
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-139f1c4
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-0bc0099
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-0bc0099 {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-468069a {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-468069a
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-468069a
    > .elementor-widget-container {
    margin: 10px -40px 0px -40px;
  }
  .elementor-6
    .elementor-element.elementor-element-d29d0f6
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-d29d0f6 {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-d9d4395 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-d9d4395
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-1ea1872
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-efc8457 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-df32dda {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-df32dda
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-df32dda
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-6051a6b
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-6051a6b {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-6051a6b
    > .elementor-widget-container {
    margin: 0px -25px 0px -25px;
  }
  .elementor-6 .elementor-element.elementor-element-0f2b605 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-dd4355e {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-dd4355e
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-dd4355e
    > .elementor-widget-container {
    margin: 10px -25px 0px -25px;
  }
  .elementor-6
    .elementor-element.elementor-element-2ee9cba
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-2ee9cba {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-2ee9cba
    > .elementor-widget-container {
    margin: 0px -25px 0px -25px;
  }
  .elementor-6 .elementor-element.elementor-element-7d03662 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-7d03662
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-c10bd88 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-c10bd88
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-06174c8 {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-fd562d1 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-0d45ad4 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-0d45ad4
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-0d45ad4
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-eb3cf16
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-4ca1d64 {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-1b977ad {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-1b977ad
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-1b977ad
    > .elementor-widget-container {
    margin: 10px -25px 0px -25px;
  }
  .elementor-6
    .elementor-element.elementor-element-3919643
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6 .elementor-element.elementor-element-3919643 {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-3919643
    > .elementor-widget-container {
    margin: 0px -25px 0px -25px;
  }
  .elementor-6 .elementor-element.elementor-element-cfcdcf0 {
    margin-left: -0px;
  }
}
@media (min-width: 1025px) {
  .elementor-6
    .elementor-element.elementor-element-f6f4913:not(.elementor-motion-effects-element-type-background),
  .elementor-6
    .elementor-element.elementor-element-f6f4913
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
